.ms_container_big {
    max-width: 1440px;
    /* height: 500px; */
    
}
header .ms_container_big{
    background-color: aquamarine;

}
.ms_container_small{
    max-width: 930px;


}

nav{
    background-color: #2C3E50;
    height: 60px;
}

li {
    list-style-type: none;
}
img{
    max-width: 100%;
}

/* header */
.jumbotron{
    background-color: #1ABC9C;
    /* debug */
    height: 300px;
}

.jumbo-content{
    background-color: brown;
    height: 80%;


}

/* MAIN */

.square{
    /* background-color: brown; */
    /* height: 80px; */
}

.col-6 {
    background-color: brown;
}

/* about */
.about{
    background-color: #1ABC9C;


}
