

.ms_container_small{
    width: 80%;
    /* max-width: 720px; */
    margin: 0 auto;
}

nav {
    background-color: #2C3E50;
    height: 60px;
}
.ul-hidden, .info{
    background-color: #3A546D;


}


li {
    list-style-type: none;
}

img{
    max-width: 100%;
}



/* header */
.ms_primary_background{
    background-color: #1ABC9C;
    color: white;
}

/* jumbotron */

.ms_jumbo-content{
    background-color: brown;
    height: 80%;
}

header img{
    width: 200px;
}
hr{
    width: 100px;
    border-top: 3px solid;
}




/* MAIN */

/* about */
.about{
    background-color: #1ABC9C;
    
}

.ms_btn_about,
.ms_btn_about:hover,
.ms_btn_about:focus-visible{
    border: 1px solid white;
    color: white;
}



/* contact */
.ms_btn_contact,
.ms_btn_contact:hover,
.ms_btn_contact:active,
.ms_btn_contact:focus-visible{
    background-color: #1ABC9C;
    color: white;
}

/* copyright */
.copyright{
    background-color: #2C3E50;
    ;
}
